<div class="container-fluid  header-bg text-white text-center">
  <div class="row p-4">
    <strong class='text-dark my-4'>Follow my journey to enlightenment</strong>
    <ul class="d-flex justify-content-center social">
      <li class="list-inline-item"><a href="https://facebook.com/AliZien1999"><i class="text-white mx-4 fa fa-facebook"></i></a></li>
      <li class="list-inline-item"><a href="https://twitter.com/AbdoAmi60489112"><i class="text-white mx-4 fa fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="https://github.com/AbdelrhmanAmin"><i class="text-white mx-4 fa fa-github"></i></a></li>
    </ul>
  </div>
  <div class="row">
    <p>My purpose in this life is to be bring love and joy to our little Godly-like pet friends known as Kitties.</p>
  </div>
</div>