<div class="d-flex justify-content-between px-5 align-items-center header-bg py-1">
  <div class='d-flex flex-column'>
    <div class='d-flex align-items-center'>
      <i class="fa fa-cat fa-2x text-white mb-1"></i>
      <a href='/' class='text-dark h4'><strong class='text-white h1'> K</strong>WITTER</a>
    </div>
    <p class='m-0 text-white'>Twitter for kitten lovers!</p>
  </div>
  <ul class='d-flex flex-row list-unstyled align-items-center m-0'>
    <%= header_events %>
  </ul>
</div>