<div class="container-fluid">
  <h2>Old Events</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      <%=old_events(@prev_events)%>
    </tbody>
  </table>
</div>