<div class="d-flex justify-content-between px-5 align-items-center header-bg py-1">
  <div class='d-flex flex-column'>
    <div class='d-flex align-items-center'>
      <i class="fa fa-cat fa-2x text-white mb-1"></i>
      <span class='text-dark h4'><strong class='text-white h1'> K</strong>WITTER</span>
    </div>
    <p class='m-0 text-white'>Twitter for kitten lovers!</p>
  </div>
  <ul class='d-flex flex-row list-unstyled align-items-center m-0'>
  <% if user_signed_in? %>
    <li><%= link_to current_user.username, user_path(current_user), class: 'header-links h5 mr-5' %></li>
    <li><%= link_to 'logout', logout_path, class: 'header-links h5 mr-5'  %></li>
  <%else%>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'signup', signup_path %></li>
  <%end%>
    
  </ul>
</div>