<div class="d-flex justify-content-between px-5 align-items-center header-bg py-4">
  <i class="fa fa-cat fa-2x text-white"></i>
  <ul class='d-flex flex-row list-unstyled align-items-center m-0'>
  <% if user_signed_in? %>
    <li><%= link_to current_user.username, user_path(current_user), class: 'header-links h5 mr-5' %></li>
    <li><%= link_to 'logout', logout_path, class: 'header-links h5 mr-5'  %></li>
  <%else%>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'signup', signup_path %></li>
  <%end%>
    
  </ul>
</div>